.cardContent {
  background-color: var(--light);
  width: 30%;
  height: 10rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  font-size: 0.8rem;
  padding: 1rem;
}

.cardContent img {
  width: 8rem;
  height: 8rem;
}

@media (max-width: 1185px) {
  .cardContent {
    width: 60%;
  }
}

@media (max-width: 605px) {
  .cardContent {
    width: 70%;
  }
}

@media (max-width: 545px) {
  .cardContent {
    width: 80%;
  }
}

@media (max-width: 545px) {
  .cardContent {
    width: 85%;
  }
}

@media (max-width: 450px) {
  .cardContent {
    flex-direction: column;
    height: 30%;
  }
}