.cardVideoContainer {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardVideoContainer p {
  width: 18rem;
  text-align: center;
}

.cardVideoContainer iframe {
  width: 25rem;
  height: 15rem;
}

@media (max-width:1350px) {
  .cardVideoContainer iframe {
    width: 30rem;
    height: 20rem;
  }
}

@media (max-width:570px) {
  .cardVideoContainer {
    width: 100%;
  }

  .cardVideoContainer iframe {
    width: 100%;
    height: 100%;
  }
}