.cardIndicationContainer {
  background-color: var(--light);
  width: 25%;
  min-width: 438px;
  max-width: 439px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 10px;
  flex: 1;
}

.cardIndicationContainer p {
  text-align: left;
}


.cardIndicationContainerSubTitle {
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-left: 2px;
}

.cardIndicationContainerInfos {
  margin-left: 2px;
}

.maps {
  width: 25rem;
  height: 25rem;
  border: 0;
  align-self: center;
  border-radius: 10px
}

@media screen and (min-width: 768px) {
  .cardIndicationContainer {
    width: 25%;
    min-width: 438px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
  }

  .cardIndicationContainer p {
    text-align: left;
  }

  .cardIndicationContainerSubTitle {
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-left: 2px;
  }

  .cardIndicationContainerInfos {
    margin-left: 2px;
  }

  .maps {
    width: 25rem;
    height: 25rem;
    border: 0;
    align-self: center;
    border-radius: 10px;
  }
}

@media screen and (max-width: 767px) {
  .cardIndicationContainer {
    width: 100%;
    min-width: 438px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .maps {
    width: 100%;
    height: 300px;
  }
}