.cardInstragramContent {
  background-color: var(--light);
  width: 27rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
}

.cardInstragramContent iframe {
  align-self: center;
}

.cardInstragramContentText {
  text-align: left !important;
  padding: 0;
}

.postInstagram {
  width: 30rem;
}

@media (max-width: 550px) {
  .cardInstragramContent {
    width: 90%;
  }
}

@media (max-width: 450px) {
  iframe {
    width: 400px;
  }
}