.footerContainer {
  background-color: var(--blue-dark);
  text-align: center;
  color: var(--light);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}