@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --primary: #A2D6EC;
  --blue: #0280C7;
  --light: #ffff;
  --blue-dark: #173A53;
  --dark: #000000;
  --yellow-light: #F0E6AE;
}